# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
.pytest_cache/
dist/

# Go
apps/go-server/server

# Terraform
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/terraform.tfvars
*.tfplan

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
